/* MyForm.css */
.vidtable {
  border-spacing: 10px;
  table-layout: fixed;

  width: 40%;
  align-items: center;
  height: 70%;


}



.VideoContainer{

  background-color: rgb(52, 99, 138);
  margin-bottom: 10%;
  padding-bottom: 5%;
  height: 20%;
  width: 80%;
  margin-right: 1%;
  padding-top: 1%;
  border-radius: 1%;
  box-shadow:rgb(52, 99, 138) 0 0 5px ;

  
  }

  .vires {
    min-width: 525px;
    height: 70%;
    padding: 50px;
    background-color: #f9f9f994;
    border: 0px solid #ddd;
    border-radius: 5px;
    align-items: center;  
    table-layout: fixed;
    margin-top: 50px;
    box-shadow: black 0px 0px 15px;
    margin-bottom: 5%;

 

  }

  .back{
  padding:1px;
}


.buttons-container{
  display: flex;
  justify-content: space-between;

}


.my-form {
  min-width: 525px;
  height: 70%;
  padding: 50px;
  background-color: #f9f9f994;
  border: 0px solid #ddd;
  border-radius: 5px;
  align-items: center;  
  table-layout: fixed;
  margin-top: 50px;
  box-shadow: black 0px 0px 15px;
  margin-bottom: 50px;


}




::-webkit-scrollbar-track {
  background-color: transparent;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #555;
}

select.form-control {
  /* Adjust styles for select dropdown */
  height: 40px;
  font-size: x-large;
}

textarea.form-control {
  /* Adjust styles for textarea */
  min-height: 100px;
  width: 95%;

}

.btn-submit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: #3584d8;
}



body{
  background-color: rgb(103, 142, 173);
  height: 50%;
}

textarea{
  resize: None;
  box-shadow: white 0px 0px 2px;

}


video {
  width: 90%;
  height: 40%;
  object-fit: cover;
  z-index: -100;
}


.selected-avatar{
  width: 256px;
  height: 256px;

}


.gpt_answer{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #555;
  min-height: 100px;
  width: 86%;


}



.loading_gif{
  width: 60%;
  height: 30%;
  object-fit: cover;
  z-index: -100;
}

.video-btn{
  display: flex;
  margin-left: 33%;
  margin-top: 4%;
}

.video-btn button{
  margin-right: 5%;

}


.fullvideo{
  width:50%;
  background-color: rgb(224, 112, 112);
  padding-top:3%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 3%;  

  padding-right: 3%;


}

.titletext{
  font-size: 30px;

}



.btn-sub {
  background-color: #5e91c9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 26px;
  margin-left: 5%;
}

.btn-sub:hover {
  background-color: #3584d8;
}


.scene{
  background-color: #007bff;
  margin-bottom: 3%;
  padding:20px;

}

.sceneaudio{
  margin-right: 450px;
  margin-bottom: 12px;
}

.scenetxt{
  margin-left: 23%;
  height: 120px;
}


.container {
  display: flex;
  height: 300px; /* Set your desired height */
  padding-bottom: 5%;
 
}

.side {
  flex: 1;
  border-left: 1px solid #cc7474;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.audio {
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5%;
}



.buttons {
  /* Style for buttons side */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 15;
}

.btt {
  padding: 8px 16px;
  margin: 5px;
}


.scenetxt{
  order:2;
  width: 80%;
  height: 100px;
  margin-left: 1%;
}

.audio_butts{
  order:3;
}

li{
list-style-type: none}

.sceneimage{
  width:60%;
  height: 150px;
  z-index: 1;
}

.scene_image_btn{
  padding-top: 5%;
}


.ccsticky-nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background: #139ed8;
  box-shadow: #139ed8 0px 5px 10px;
  z-index: 10;
  }
  
  .ccsticky-nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: left;
  }
  
  .ccsticky-nav ul li {
  display: inline-block;
  margin: 0 10px;
  }
  
  .ccsticky-nav ul li a {
  padding: 10px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
  }
  
  .ccsticky-nav ul li a:hover {
  color: #34495E;
  }
  
  section {
  width: 100%;
  padding: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 1024px;
  text-align: center;
  margin-top: 60px;
  }


  .myavatarform {
    min-width: 525px;
    height: 400px;
    padding: 50px;
    background-color: #f9f9f994;
    border: 0px solid #ddd;
    border-radius: 5px;
    align-items: center;  
    table-layout: fixed;
    margin-top: 30%;
    box-shadow: black 0px 0px 15px;

    
  
  }


 
  .vid_title{
    color:white;
    border-bottom: #ddd 2px solid;
    padding-bottom: 2.5vh;
    box-shadow: #ddd 0px 2px 1px;
  }

  .VideoContainer h3{
    font-family: monospace;
    color: white;
    font-size: 20px;
  }

select{
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.fullvidform{
  margin-bottom: 5%;
  margin-top: 1%;
  padding: 1%;
}